################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AramexApplicationTest
/AramexApplicationTest/bin
/AramexApplicationTest/obj/Debug
/packages
