@{
    ViewBag.Title = "FizzBuzz Test";
}

@section scripts{
    @Scripts.Render("~/bundles/fizzbuzz");
}


<div class="row">
    <div class="col-sm-12">
        <h1>FizzBuzz Test</h1>

        @Html.Partial("_FizzBuzzInstructions")
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p><strong>Output:</strong></p>
        <ul id="fizzbuzz-list">
        </ul>
    </div>
</div>