
<p>This is a variation of the traditional FizzBuzz test that would typically be done in-situ during an interview.</p>
<p><strong>Requirements:</strong></p>
<ul>
    <li>All 'fizz' should be green</li>
    <li>All 'buzz' should be blue</li>
    <li>All 'fizz buzz' should flash green and blue at 2 second intervals <strong>you must use jQuery/JavaScript to create the flashing - <span style="color:darkred;">DO NOT USE CSS ANIMATIONS</span></strong></li>
    <li>
        Place output in a grid-like format 10 columns x 10 rows
        <ul>
            <li>You MUST use one or more lists - NO TABLES ALLOWED</li>
            <li>
                The output should be displayed <strong>down then across</strong> - i.e. the first column should contain values
                representative of the output for values 1 to 10
            </li>
        </ul>
    </li>
</ul>
<p><strong>Rules:</strong></p>
<ul>
    <li>You can (and probably will) need to change the existing code</li>
    <li>
        No inline styles should be used use css classes when styling is required - i.e. do not use <em>style="color:darkred;"</em>
        <ul>
            <li>Please use the ~/Scripts/fizzbuzz.js file for all jQuery/javascript changes</li>
            <li>Please include all CSS changes in the ~/Content/fizzbuzz.css file</li>
        </ul>
    </li>
</ul>
<p><strong>Also:</strong></p>
<p>If you're a good designer or a whizz with jQuery feel free to show off and be a bit creative. However, this is not mandatory as this is designed to be a simple programming test not a test of your design skills.</p>